#contents{
  padding-top: 100px;
  max-width: 900px;
  width: 94%;
  margin: 0 auto;
  font-size: 1.4rem;
  .maintitle{
    font-size: 2.4rem;
    text-align: center;
    font-weight: bold;
  }
  .doc_spec{
    text-align: right;
    padding: 2em 0;
  }
  h3{
    font-size: 2rem;
    padding: 2em 0;
    text-align: center;
    font-weight: bold;
  }
  h4{
    font-size: 1.6rem;
    padding: 1em 0;
    font-weight: bold;
  }
}