.sec1{
  background: $color1;
  text-align: center;
  border-bottom: 1px solid #FFF;
  .logobox{
    width: 100%;
    max-width: 466px;
    margin: 0 auto;
    margin-bottom: 50px;
    opacity: 0;
    top: 30px;
    transition: .5s;
    transition-delay: .1s;
    position: relative;
    @include mq{
      width: 70%;
    }
  }
  p{
    font-size: 1.8rem;
    line-height: 1.8;
    color: #FFF;
    opacity: 0;
    position: relative;
    top: 20px;
    transition: .8s;
    &.txt1{
      transition-delay: .2s
    }
    &.catch{
      transition-delay: .5s
    }
    &.txt2{
      transition-delay: 1s
    }
    @include mq{
      font-size: 1.4rem;
      text-align: left;
      padding: 0 8vw;
    }
    &.catch{
      font-weight: 400;
      font-size: 6rem;
      line-height: 1.4;
      margin-bottom: 50px;
      @include mq{
        font-size: 2.6rem;
        text-align: center;
        margin-bottom: 1em;
      }
    }
  }
  
  &.is-show{
    .logobox{
      opacity: 1;
      top: 0px;
    }
    p{
      opacity: 1;
      top: 0px;
    }
  }
}
