doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  include include/_p-hd.pug

  body
    
    include include/_header.pug
    .wrap
      .main
        include include/_main.pug
      section.sec1
        include include/_sec1.pug
      section.sec2#SOLUTION
        include include/_sec2.pug
      section.sec3#WORKS
        include include/_sec3.pug
      section.sec4#PROFILE
        include include/_sec4.pug
      section.sec5#ACCESS
        include include/_sec5.pug
      section.sec6
        include include/_sec6.pug

    include include/_footer.pug




