header
  .inner
    h1 
      img(src='/assets/images/logo.svg')
    .spmenu
      span
      span 
      span
    nav 
      .menuinner
        ul.menu2
          li
            a(href='/#SOLUTION')  SOLUTION   
          li
            a(href='/#WORKS')  WORKS   
          li
            a(href='/#PROFILE')  PROFILE   
          li
            a(href='/#ACCESS')  ACCESS
        ul.menu1
          li.link-lang
            a(href='/')  Japanese  
            |
            span  /
            |
            a(href='/en/')  English

          li.contact
            a(href='mailto:inquirly@theoria.ne.jp')  CONTACT  