.inner
  .txt
    h2 Execution Centric,
      br
      | Contents Oriented.
    p.sub-catch  戦略を確実に実行して、
      br.sp
      |結果を導くこと。
    p.lead-txt いかに優れた戦略も、実行力なしでは成功を得られません。時間をかけて、検討を重ねて構築した戦略が、一瞬のひらめきによるスピーディーな戦術に追い越される。ITに始まるコミュニケーション技術の進化は、これまでの競争概念を大きく変えようとしています。我々は、ビジネスやプロジェクトの目的を合理的に整理し、深化させ、到達すべきゴールへの最短距離を「理論」ではなく「実践」で導き出します。あらゆるメディアとコミュニケーションアセットに精通したチームが、企業と人をつなぐマーケティングを実現します。
  .img
    img(src='/assets/images/main.png')

.service-box
  h3  THEORIAの核となるサービス
  ul.service
    li  
      img(src='/assets/images/service01.svg')
      p ホームページ運用
        br
        | クリエイティブ開発
    li  
      img(src='/assets/images/service02.svg')
      p コミュニティ
        br
        | CRM開発・運用
    li  
      img(src='/assets/images/service03.svg')
      p 企画・コンサルティング
        br
        | サービス開発
    li  
      img(src='/assets/images/service04.svg')
      p アプリ開発・運用
        br
        | システム開発・運用