head
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  meta(http-equiv='content-script-type', content='text/javascript')
  meta(http-equiv='content-script-type', content='text/css')
  meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=no')
  title テオリアコミュニケーションズ
  meta(name='description', content=`テオリアコミュニケーションズは、ビジネスと顧客をつなぐコミュニケーションをデザインします。`)
  meta(name='keywords', content='HOME,テオリア,theoria')
  // OGs
  meta(property='og:title', content=`テオリアコミュニケーションズ`)
  meta(property='og:site_name', content='テオリアコミュニケーションズ')
  meta(property='og:description', content=`テオリアコミュニケーションズは、ビジネスと顧客をつなぐコミュニケーションをデザインします。`)
  meta(property='og:type', content='wesite')
  meta(property='og:url', content=`https://www.theoria.ne.jp`)
  link(href='/assets/css/style.css?20181113', rel='stylesheet', type='text/css', media='all')
  script(type='text/javascript', src='/assets/js/plugin.js')
  script(type='text/javascript', src='/assets/js/script.js')
  