.inner
  h2.title1 SOLUTION
  ul
    li
      span
        img(src="/assets/images/solution01.svg")
        p 頼んだタスクしか
          br
          |担当してくれない
    li
      span
        img(src="/assets/images/solution02.svg")
        p 若手だけが
          br
          |アサインされる
    li
      span
        img(src="/assets/images/solution03.svg")
        p 納期は守ってくれるが
          br
          |品質が良くない
    li
      span
        img(src="/assets/images/solution04.svg")
        p 原稿やレイアウトは
          br
          |自分で作っている
    li
      span
        img(src="/assets/images/solution05.svg")
        p ビジネスの悩みは
          br
          |相談できない
    li
      span
        img(src="/assets/images/solution06.svg")
        p 細部まで
          br
          |指示が必要
    li
      span
        img(src="/assets/images/solution07.svg")
        p マーケティング上の
          br
          |必然性が感じられない
    li
      span
        img(src="/assets/images/solution08.svg")
        p デザインは
          br
          |別の業者に発注
  .img
    img(src="/assets/images/solution_main.svg")
    span.circle1
    span.circle2
    span.circle3
.sec2-2
  .sec2-2-inner
    .feature
      span.img1
        img(src="/assets/images/solution2_sub.svg")
      span.img2
        img(src="/assets/images/solution2_main.svg")
      span.img3
        img(src="/assets/images/solution2_txt.svg")
    ul.feature-list
      li
        span
          img(src="/assets/images/solution2_01.svg")
          p 経験豊富なスタッフを取り込む
            br
            |
            strong  品質感 
            |と 
            strong  能動性
      li
        span
          img(src="/assets/images/solution2_02.svg")
          p 個々のタレント性に体系化された
            br
            |
            strong  ワークフロー 
      li
        span
          img(src="/assets/images/solution2_03.svg")
          p ビジネスにコミットした
            br
            |
            strong  パートナー性 



