.inner
  h2.title1 ACCESS
  .mapbox
    .map
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1620.8506233685828!2d139.74330090968814!3d35.65973158041643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b97c9b572f3%3A0xd8d1aefb74c5a979!2z44CSMTA1LTAwMTEg5p2x5Lqs6YO95riv5Yy66Iqd5YWs5ZyS77yT5LiB55uu77yW4oiS77yS77yS!5e0!3m2!1sja!2sjp!4v1542358807751" width="600" height="450" frameborder="0" style="border:0" allowfullscreen )
    .txt
      h3  所在地
      p 〒105-0011 
        br
        |東京都港区芝公園3-6-22　J.C.ビルディング4F
      h3  アクセス
      dl
        dt  東京メトロ日比谷線神谷町駅より
        dd  1番出口を出て左方面、
          br
          |桜田通り沿いに東京タワー方面へ
          br
          |飯倉の交差点を左折
          br
          |坂を上りきった信号の左角のビル4Fです。
        dt  都営大江戸線赤羽橋駅より
        dd  赤羽橋口を出て横断歩道を渡り、
          br
          |桜田通り沿いを神谷町方面へ
          br
          |坂を上った交差点をセブンイレブン側へ渡り、
          br
          |さらに東京タワーに向かって渡ります。
          br
          |坂を上りきった信号の左角のビル4Fです。