.inner
  h2.title1 CONTACT
    span.sub  気軽にご相談ください 
  
  .img
    a(href='mailto:inquirly@theoria.ne.jp')
      img(src='/assets/images/contact.svg')
  .service-box
    ul
      li  
        img(src='/assets/images/contact01.svg')
        p ホームページ運用
          br
          | クリエイティブ開発
      li  
        img(src='/assets/images/contact02.svg')
        p コミュニティ
          br
          | CRM開発・運用
      li  
        img(src='/assets/images/contact03.svg')
        p 企画・コンサルティング
          br
          | サービス開発
      li  
        img(src='/assets/images/contact04.svg')
        p アプリ開発・運用
          br
          | システム開発・運用