.inner
  h2.title1 STYLE
  .logobox
    img(src='/assets/images/logo.svg')
  p.txt1 ギリシア語で“客体観照 ”を意味する語で、“理論・学説・正論”を意味するTheoryの語源です。
    br
    | 当社では、“Execution Centric, Contents Oriented”をテーマに、
    br.pc
    | 最適な方法で最適な解答をクライアントに提供する、
    br
    | マーケティングコンサルテーションを中核としたビジネスを展開しています。
  h2.title1.t2 MISSION
  p.catch コンテンツを通じて、
    br
    | 人、企業、社会を
    br.sp
    |豊かにする
  p.txt2 我々は“実践知”を集結させたマーケティングチームです。
    br
    | 課題を文脈から本質的に読み解き、
    br
    | 最良のコンテンツを創出します。