.inner
  h2.title1 WORKS
  ul.service
    li.works
      span
        img(src='/assets/images/service01.svg')
        p ホームページ運用
          br
          | クリエイティブ開発
      ul
        li  ・SUBARU
        li  ・味の素コーポレートサイト
        li  ・トリナ・ソーラーコーポレートサイト
        li  ・フィールズIRサイト
        li  ・ 野村不動産（ノムコム）
        li  ・ 野村不動産（法人サイト）
        li  ・シグマクシスコーポレートサイト
        li  ・ 西陣 コーポレートサイト
        li  ・ Play Station Series
        li  ・ YKKap コーポレートサイト
        li  ・ 星野 リゾート ｸﾞﾛｰﾊﾞﾙｻｲﾄ
        li  ・ スカパーオンデマンド
        li  ・ﾌｫｯｸｽｲﾝﾀｰﾅｼｮﾅﾙﾁｬﾝﾈﾙ
        li  ・ナショナルジオグラフィック

    li.works
      span
        img(src='/assets/images/service02.svg')
        p コミュニティ
          br
          | CRM開発・運用
      ul
        li  ・スバルWEBコミュニティ
        li  ・subaru.jp
        li  ・ﾘｰﾊﾞｲ・ｽﾄﾗｳｽ ｼﾞｬﾊﾟﾝ
        li  ・Tamago Land(たまごっち)

    li.works
      span
        img(src='/assets/images/service03.svg')
        p 企画・コンサルティング
          br
          | サービス開発
      ul
        li  ・貝印 Xfitﾏｰｹﾃｨﾝｸﾞ戦略
        li  ・貝印 ECサイト
        li  ・ﾄﾘﾅ・ｿｰﾗｰｼﾞｬﾊﾟﾝ
        li  ・MIYAGI POKERUN
        li  ・AEON ミサンガプロジェクト
        li  ・ ル・クルーゼ ECサイト

    li.works 
      span
        img(src='/assets/images/service04.svg')
        p アプリ開発・運用
          br
          | システム開発・運用
      ul
        li  ・ﾄﾘﾅ・ｿｰﾗｰ 発電ｼﾐｭﾚｰﾀｰ
        li  ・CLUB LEVI’S ｽﾏﾎｻｲﾄ
        li  ・ エイベックス ファンクラブ
  p.other 国内外ブランドを問わず多数の実績があります。
    br
    |
    a(href="#") 実績集ダウンロード（PDFファイル）
