.inner
  h2.title1 COMPANY PROFILE
  dl.company
    dt  会社名
    dd  テオーリアコミュニケーションズ株式会社（Ｐマーク登録事業者 登録番号：170001800）
      br
      | 〒105-0011　東京都港区 芝公園3-6-22  J.C.ビルディング4階
    dt  役員
    dd  
      span  代表取締役社長
      |小島　丈司
      br
      | 
      span  取締役
      |上保　大輔
    dt  資本金
    dd  50,010,000円
    dt  電話番号
    dd  代表電話番号  03-6841-6007   /   FAX  03-6841-6032
    dt  取引銀行
    dd  三井住友銀行日比谷支店, りそな銀行渋谷支店, 東日本銀行浜松町支店
    dt  主要取引先(五十音順)
    dd  味の素株式会社/株式会社ＳＵＢＡＲＵ/貝印株式会社/株式会社シグマクシス/ソニー・コンピュータエンタテインメント株式会社/トリナ・ソーラー・ジャパン株式会社/野村不動産株式会社/野村不動産アーバンネット株式会社/株式会社バンダイナムコゲームス/フィールズ株式会社/FOXインターナショナル・チャンネルズ株式会社/リーバイ・ストラウス ジャパン株式会社/株式会社ＪＥＲＡ
      br
      |ほか多数
    dt  広告代理店
      br.pc
      span.sp ・
      |主要取引先
    dd  株式会社電通
      br
      |株式会社博報堂
      br
      |株式会社アサツー・ディー・ケイ
      br
      |ほか
  